:root {
  --toastify-icon-color-success: theme(colors.lime.500) !important;
  --toastify-icon-color-error: theme(colors.red.500) !important;
}

* {
  touch-action: manipulation;
}

html {
  touch-action: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  touch-action: none;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}

.tab-active {
  @apply !border-neutral-content !text-neutral-content;
}

.graph-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.Toastify__toast-container--bottom-center {
  bottom: 304px !important;
  z-index: 99 !important;
}

.Toastify__toast-body {
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: theme(colors.neutral-content);

  > div:last-child {
    flex: initial !important;
  }
}

.Toastify__close-button {
  color: theme(colors.neutral-content);
  display: none;
}
