:root {
  --toastify-icon-color-success: theme(colors.lime.500) !important;
  --toastify-icon-color-error: theme(colors.red.500) !important;
}

* {
  scrollbar-width: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}

.tab-active {
  @apply !border-neutral-content !text-neutral-content;
}

.Toastify__toast-container--bottom-center {
  z-index: 99 !important;
}

.Toastify__toast-body {
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: theme(colors.neutral-content);

  > div:last-child {
    flex: initial !important;
  }
}

.Toastify__close-button {
  color: theme(colors.neutral-content);
  display: none;
}

.v-leave-active,
.v-enter-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
