//output:../index.html, pretty:true
<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Document
  link(rel="stylesheet", href="style.css")
body
  .intro
    .wrap
      img.ava(srcset="images/ava.jpg 1x, images/ava@2x.jpg 2x", src="images/ava.jpg", width="120", height="120" alt="") 
      h1 Romanov Vladimir
      p Front-end, Wordpress developer.
