// out: ../style.css, compress: false
@import url('https://fonts.googleapis.com/css?family=Palanquin:700|Open+Sans')

dark = #263238
light = #ECEFF1
middl = #CFD8DC

body, h1, h1, p
  margin 0

body
  font-family 'Open Sans', sans-serif
  font-size 1em
  background dark
  color light

h1,h2
  font-family 'Palanquin'//, sans-serif
  font-weight 700
  font-size 1.777em
  line-height 1.25
  margin-bottom 0.25em

p
  color middl
  line-height 1.5

.wrap
  padding 0 10px
  margin 0 auto
  overflow hidden
  clear both

.intro
  text-align center
  margin-top 20vh

.ava
  border-radius 100%
